/*prevent problems w different problems*/
* {box-sizing: border-box;}

body {
    font-family: "Lora", serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

/*Header*/
header {
    background-color: #F4DFDD;
    padding: 1rem 2vw;
}
header h1 {
    margin: 0;
    color: #034AA6;
}
header p {
    margin: 0;
    color: #034AA6;
    letter-spacing: 3.4px;
}

/*small screens*/
@media only screen and (max-width: 740px) {
    nav ul{
        margin: 0;
        padding: 0 2%;
        list-style-type: none;
        text-align: center;
    }
    nav a {
        display: block;
        background-color: #AEC2DA;
        color: #0d5493;
        text-decoration: none;
        font-weight: 700;
        font-size: 1.1rem;
        text-transform: uppercase;
        padding: 1rem 2rem;
        margin: 1rem 0 0 1vw;
        border-radius: 15px;
    }
    nav li.active a {
        background-image: linear-gradient(#0d5493,#093D6A);
        color: #AEC2DA;
    }
    nav a:hover {
        color: #Fff;
    }
} /*end of media query*/

/*wide screens*/
@media only screen and (min-width: 741px) {
        nav {
        background-color: #AEC2DA;
    }
    nav ul {
        list-style-type: none;
        padding: 0 2vw;
        margin: 0;
        display: flex;
    }
    nav ul li a {
        font-size: 1.1rem;
        text-decoration: none;
        color: #034AA6;
        font-weight: 700;
        display: block;
        padding: .83rem 2rem;
    }
    nav li.active a {
        background-color: #034AA6;
        color: #AEC2DA;
    }
    nav a:hover {
        color: #Fff;
    }
} /*end of media query*/


/*main*/
main {
    padding: 1rem 2vw;
}
main h1 {
    color: #BF455B;
}
main h2 {
    color: #034AA6;
    margin-bottom: .2rem;
}
main p {
    margin: 0 0 .3rem 0;
}

main ul {
    list-style-type: circle;
}
main ul li {
    line-height: 125%;
    margin-bottom: .5rem;
}
main a {
    color: #034AA6;
}
main a:hover {
    color: #BF455B;
}

/*home page image*/
figure.homeimg {
    width: 40%;
    margin: 0 0 0 2%;
    float: right;
}
figure.homeimg img {
    width: 100%;
    height: auto;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

/*destinations gallery*/
div.gallery {
    display: flex;
    flex-wrap: wrap;
}
div.gallery figure {
    margin: 1.2rem 1.2rem 1.2rem 0;  
    padding: 1rem;
    border:3px solid #AEC2DA;
    border-radius: 5px;
}
div.gallery figcaption {
    text-align: center;
    font-size: .8rem;
}
div.gallery img {
    width: 100%;
    height: auto;
}

/*package page*/
.package{
    margin: 1.2rem 0 1.2rem 0;  
    padding: .8rem;
    border:3px solid #AEC2DA;
    overflow: auto;
    border-radius: 10px;
}
.package-img {
    margin: .5rem 2% 0 0;
    display: block;
    float: left;
}
.package-text {
    padding: 1vw;
}
.package h2 {
    margin: 0;
}
.package img {
    width: 100%;
    height: auto;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

/*Form*/
.myForm fieldset {
    border: 1px solid #0d5493;
    border-radius: 3px;
    margin-bottom: 1rem;
}
.myForm legend {
    color: #0d5493;
    font-size: .8rem;
}
.myForm label {
    margin: .5rem;
}
.myForm label, .myForm select, .myForm [type=text], .myForm [type=email], .myForm textarea {
    display: block;
}
.myForm [type=text], .myForm [type=email], .myForm select, .myForm textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
    font-family: "Lora", serif;
    font-weight: 400;
}
.myForm textarea {
    height: 6rem;
}
.myForm :required {
    background-color: rgba(64,89,82,0.1);
}
.myForm [type=submit] {
    font-family: "Lora", serif;
    font-weight: 700;
    background-color: #BF455B;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}

/*footer*/
footer {
    background-color: #F4DFDD;
    text-align: center;
    color: #034AA6;
    padding: 1rem;
    font-size: .8rem;
}
footer a {
    color: #034AA6;
}

header, nav, main, footer{
    max-width: 70rem;
    margin: 0 auto;
    
}
